body {
background: #15151d;
display: flex;
flex-direction: column;
}

#container {
background: #15151d;
display: flex;
align-items: center;
justify-content: center;
min-height: 85vh;
flex-wrap: nowrap;
}

canvas {
background: #27272f;
}

h2 {
font-family: Arial, sans-serif;
color: #ffffff;
align-self: center;
}

h4 {
  font-family: Arial, sans-serif;
  color: #ffffff;
  align-self: center;
}

textarea {
width: 200px;
height: 54.5px;
border-radius: 0;
background: #27272f;
border: none;
color: #ffffff;
}

select {
  width: 212px;
  height: 54.5px;
  border-radius: 0;
  background: #27272f;
  border: none;
  margin-bottom: 0px;
  margin: 0px;
  color: #ffffff;
}

button {
width: 212px;
height: 54.5px;
border-radius: 0;
background-color: #27272f;
outline: none;
border: none;
color: #69696f;
}

label {
color: #ffffff;
align-self: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
}

hr {
border: none;
border-top: 3px solid #ffffff;
}

#container #config {
display: flex;
flex-direction: column;
align-items: flex-start;

}